body {
    font-family: 'Press Start 2P';
    margin: 12px 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    background-color: rgb(202, 202, 202);
    padding: 1em;
    border: 4px black;
    border-style: double;
    border-radius: 8px;
}

.text-container p {
    font-size: 18px;
    margin-top: 0;
    line-height: 1.3em;
}

.text-container button {
    font-size: 16px;
    font-weight: bold;
}

.invisible, span {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

#arena {
    background-image: url(assets/battlebackground.png);
    border: 4px black;
    border-style: solid;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 956px;
    height: 448px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#user-pokemon-img {
    height: 250px;
    width: auto;
    position: relative;
    top: 240px;
    left: 130px;
    animation: appear 1000ms ease-in;
}

#arena-text {
    box-sizing: border-box;
    width: 964px;
}

#wild-pokemon img {
    height: 250px;
    width: auto;
    position: relative;
    top: 60px;
    left: 80px;
    animation: slide-in 2000ms;
}

#container {
    position: relative;
    top: 390px;
    left: 230px;
    animation: throw-x 1000ms ease-out;
}

#container img {
    animation: throw-y 1200ms ease-in;
}

@keyframes slide-in {
    from {
        transform: translateX(75%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes throw-x {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes throw-y {
    0% {
        transform: translateY(-500%);
    }

    80% {
        transform: translateY(0%);
        opacity: 100%
    }

    100% {
        opacity: 0%
    }
}

@keyframes appear {
    from {
        opacity: 0%
    }

    to {
        opacity: 100%
    }
}